@import 'normalize';

$linkColor: #00B7FF;

body {
  padding: 1rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $linkColor;
}

h1 {
  padding: 0;
  margin-top: 0;
}

pre {
  background-color: rgba(pink, 0.4);
}
