extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href='https://developers.google.com/transit/gtfs-realtime/' target='_blank') https://developers.google.com/transit/gtfs-realtime/
    li
      a(href='https://developers.google.com/transit/gtfs-realtime/examples/nodejs-sample' target='_blank') https://developers.google.com/transit/gtfs-realtime/examples/nodejs-sample
    li
      a(href='https://developers.google.com/transit/gtfs-realtime/gtfs-realtime-proto' target='_blank') https://developers.google.com/transit/gtfs-realtime/gtfs-realtime-proto
    li
      a(href='https://github.com/aamaliaa/mta-gtfs' target='_blank') https://github.com/aamaliaa/mta-gtfs
    li
      a(href='https://transitfeeds.com/p/mta' target='_blank') https://transitfeeds.com/p/mta
    li
      a(href='http://datamine.mta.info/sites/all/files/pdfs/GTFS-Realtime-NYC-Subway%20version%201%20dated%207%20Sep.pdf' target='_blank') http://datamine.mta.info/sites/all/files/pdfs/GTFS-Realtime-NYC-Subway%20version%201%20dated%207%20Sep.pdf
    li
      a(href='http://datamine.mta.info/list-of-feeds' target='_blank') http://datamine.mta.info/list-of-feeds

  <mta title="jommm"></mta>
