doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body(ng-app="mtaApp" ng-controller='controller')
    block content
    script(type='text/javascript', src='/js/app/mta.bundle.js')
    script(type='text/javascript', src='/js/min/main.js')
